<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- HTML 주석입니다.  -->
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'TheTuesdayofYounah';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/TheTuesdayofYounah.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: pink; font-family: 'TheTuesdayofYounah';">
<h1 style="background-color: gray;">파트 1은 대충했지만 파트 2때 열심히 해서 일발 역전을 노려봅니다.</h1>

<script>
    alert("Hello, h662!");
</script>
</body>
</html>