<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        @font-face {
            font-family: 'TheTuesdayofYounah';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/TheTuesdayofYounah.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <header>hello Spring${name}</header>

    <script>alert("Hello, kim!");
        let name="jinhyun"
    </script>
</body>
</html>